header {
    background-color: var(--backround);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-logo {
    height: 35px; 
}

.nav-link {
    margin: 5px;
    text-decoration: none;
    color: var(--white);
}

.nav-link:hover {
    color: var(--pink-500);
}

.nav-link.active {
    color: var(--pink-500);
}