header {
    background-color: var(--backround), 0.8;
    display: grid;
   grid-template-columns: 2fr 1fr;
    align-items: center;
    padding: 26px;
    backdrop-filter: blur(2px);
    position: sticky;
    top: 0px;
   
    backdrop-filter: blur(8px);
}

.header-logo {
    height: 35px; 
}

.nav-container {
    display: flex;
    justify-content:  flex-end;
    gap: 25px;
}
.nav-link {
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
}

.nav-link:hover {
    color: var(--pink-500);
}

.nav-link.active {
    color: var(--pink-500);
}