.introduction {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 150px 55px;
    background-image: url('./assets/background.svg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: auto;
    background-attachment: fixed; 
}

.introduction-text {
    color: white;
    min-width: 50%;
}
.introduction-text h1{
    font-size: 56px;
}
.introduction-text p{
   color: var(--gray);
}
