.form-container {
  width: 40%;
  margin: auto;
  padding: 30px 0px;
  border-radius: 10px;
  color: var(--white);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

input, textarea {
  width:100%;
  padding:10px;
  margin: 15px;
  box-sizing:border-box;
  background:none;
  outline:none;
  border:0;
  border:2px solid var(--primary);
  color: var(--white);
}

input:focus, textarea:focus {
  box-shadow: 3px 3px var(--primary);
  border-bottom:3px solid var(--primary);
}



/* errors */

.error-msg {
  color: #bf1650;
  font-size: 14px;
}

.error-msg::before {
  content: "⚠ ";
}
