.contact-container {
  padding: 50px 0px;
}

.contact-title {
  color: var(--white);
  font-size: var(--xl);
  display: flex;
  justify-content: center;
}

.contact-text {
  color: var(--secondary);
  padding: 30px 70px 0px 70px;
  text-align: center;
}